Welcome to Flectino!<br/><br/>

Now sit back while we take care of the rest.  You will start receiving messages when you use your card at a participating retailer.

If want to change how you are contacted you can head to your settings page:<br/>

&#9;{{webHost}}/settings<br/><br/>

Please have a look at our help page if you have any questions:<br/>

&#9;{{webHost}}/help<br/><br/>

We would love to hear feedback or address any concerns you may have, please use the following page to do so:<br/>

&#9;{{webHost}}/contact<br/><br/>

You also have the option of looking at your receipts and messages straight on our web page:<br/>

&#9;{{webHost}}/activity<br/><br/>

Thank you for signing up with us! Sincerely,<br/>

The Flectino Team<br/><br/>
